{% extends 'Home/index.html' %} {% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    console.log("inside script");
    $(document).ready(function () {
      $("#id_semester").change(function () {
        const url = $("#FacultyForm").attr("data-subjects-url");
        const semId = $(this).val();

        $.ajax({
          url: url,
          data: {
            sem_id: semId,
          },
          success: function (data) {
            $("#id_subject").html(data);
          },
        });
      });
    });
  </script>
</head>

<body>
  <div class="text-center bgimg form" style="
        margin-left: 510px;
        padding: 55px;
        margin-right: 514px;
        display: flex;
        flex-direction: column;
        align-items: center;
      ">
    <h3>Register Faculty</h3>
    <br />
    <form id="FacultyForm" method="post" data-subjects-url="{% url 'ajax_load_subjects' %}">
      {% csrf_token %} {% comment %} {{ form.as_p }} {% endcomment %}
      <table>
        <tr>
          <td>
            <label for="id_name">Name:</label>
          </td>
          <td>
            <input type="text" name="name" maxlength="100" required id="id_name" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="id_gmail">Gmail:</label>
          </td>
          <td>
            <input type="text" name="gmail" maxlength="100" required id="id_gmail" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="id_password">Password:</label>
          </td>
          <td>
            <input type="password" name="password" maxlength="100" required id="id_password" />
          </td>
        </tr>
        <tr>
          <td><label for="id_semester">Semester:</label></td>
          <td>
            {% comment %} {% for sub in semesters %}
            <input type="checkbox" name="subject" id="id_subject_{{ sub.pk }}" value="{{ sub.pk }}" />
            <label for="id_subject_{{ sub.pk }}">{{ sub.name }}</label><br />
            {% endfor %} {% endcomment %}

            <select name="semester" id="id_semester">
              <option value="">---------</option>
              {% for semester in semesters %}
              <option value="{{ semester.id }}">{{ semester.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="id_subject">Subject:</label>
          </td>
          <td>
            <select name="subject" id="id_subject">
              <option value="">---------</option>
              {% for sub in subjects %}
              <option value="{{ sub.pk }}">{{ sub.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="id_batch">Batch:</label>
          </td>
          <td>
            <select name="batch" id="id_batch">
              <option value="">---------</option>
              {% for batch in batches %}
              <option value="{{ batch.0 }}">{{ batch.1 }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>

</html>
{% endblock content %}