{% extends 'Home/index.html' %}
{% block content %}
    <div class="container" style="margin-top: 1px;">
        <h1 class="text-center py-3">Your Recent Feedbacks</h1>
        <div class="row mt-3">
            <div class="col-9">
                {% for feedback in feedbacks %}
                    <div class="card p-2 mb-3">
                        <p class="my-2"><strong>Feedback on:</strong> {{ feedback.teacher_name }}</p>
                        <p><strong>Dated:</strong> {{ feedback.date_submitted|date:'d F, Y H:i T' }}</p>
                        <a href="{% url 'FeedbackDetailView' feedback.id %}">View details</a>
                    </div>
                {% endfor %}
            </div>

            <!-- Right side bar -->
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <!-- Form to search Teachers' name and get feedbacks on them -->
                    <a class="list-group-item list-group-item-action" role="button" style="
                          background-color: #dc3545;
                          border-radius: 8px;
                          border-width: 0;
                          color: #333333;
                          cursor: pointer;
                          display: inline-block;
                          font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                          font-size: 14px;
                          font-weight: 500;
                          line-height: 20px;
                          list-style: none;
                          margin: 0;
                          padding: 10px 12px;
                          text-align: center;
                          transition: all 200ms;
                          vertical-align: baseline;
                          white-space: nowrap;
                          user-select: none;
                          -webkit-user-select: none;
                          touch-action: manipulation;
                        }"  href="{% url 'LogoutView' %}">Logout</a>
                    <!-- TODO: Add a confirmation modal -->
                    <a class="list-group-item list-group-item-action" role="button" href="{% url 'Chart' %}">View chart</a>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
