{% extends 'Home/index.html' %}
{% load static %}
{% block content %}
<!-- <style>
    .bgimg{
        background-image: url("{% static 'ddu.jpg' %}");
    }
</style> -->
    <div class="text-center bgimg about-us">
        <h5>About us</h5>
        <p>This site is made for feedback purpose. Students can share their reviews on collage, faculties, subjects so that collage management can take appropreate actions and improvise.</p>
        <p>Also teachers can improvise in their teaching system or teaching material.</p>
        <p>So every student's feedback is very important for university. We suggest every student to provide their feedback on university and also on teachers so that university can able to make changes accordingly and can make system molre presice..</p>
    </div>
{% endblock content %}