{% extends 'Home/index.html' %} {% load static %} {% block content %}
<div
  class="text-center bgimg"
  style="padding: 10px 100px 10px 100px; margin: -90px 350px 0px 350px"
>
  <section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5 col px-md-5">
      Do you have any questions? Please do not hesitate to contact us directly.
      Our team will come back to you within a matter of hours to help you.
    </p>

    <div
      class="contact"
      style="display: flex; align-items: center; justify-content: center"
    >
      <div class="form">
        <form action="">
          <table>
            <tr>
              <td>
                <label for="name">Name:</label>
              </td>
              <td>
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="email">Email:</label>
              </td>
              <td>
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="number">Number:</label>
              </td>
              <td>
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="message">Message:</label>
              </td>
              <td>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="10"
                ></textarea>
              </td>
            </tr>
          </table>
          <br />
          <button type="submit" style="padding: 5px 20px">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
