{% extends 'Home/index.html' %}
{% load static %}
{% block content %}
<!-- <style>
    .bgimg{
        background-image: url("{% static 'ddu.jpg' %}");
    }
</style> -->
    <div class=" text-center bgimg">
        <h1 class="display-3">Welcome to Student feedback system</h1>
        <p class="lead">Give your important feedback on DDIT professors...</p>
        <hr class="my-4">
        <p>If you are a student, who wishes to give feedback, click "Enter as student"</p>
        <a class="btn btn-primary mr-2" role="button" href="{% url 'LoginPage' %}">Enter as student</a>
        <a class="btn btn-primary ml-2" role="button" href="{% url 'LoginView' %}">Login as admin</a>
        <a class="btn btn-primary ml-2" role="button" href="{% url 'FacultyView' %}">Login as Faculty</a>
    </div>
{% endblock content %}

<!-- jumbotron -->