{% extends 'Home/index.html' %} {% block content %}
{% load crispy_forms_tags %}
<legend class="text-center mt-4">Feedback Form</legend>
{% if messages %} {% for message in messages %}
<p class="error_message">{{message}}</p>
{% endfor %} {% endif %}
<form method="post">
  {% csrf_token %} 
  {{ form|crispy }}
  <div class="form-group">
    <button class="btn btn-dark" type="submit">Submit Feedback</button>
  </div>
</form>

<script>
  console.log("inside script");
  // Get the faculty dropdown element
  const facultyDropdown = document.querySelector("#id_teacher_name");

  // Get the semester dropdown element
  const semesterDropdown = document.querySelector("#id_semester");

  // Add an event listener to the faculty dropdown
  facultyDropdown.addEventListener("change", function () {
    console.log("inside change fun");
    const facultyId = facultyDropdown.value;

    // Send a GET request to the server to get the semesters for the selected faculty
    fetch(`api/semesters/${facultyId}`)
      .then((response) => response.json())
      .then((data) => {
        // Clear the current options in the semester dropdown
        semesterDropdown.innerHTML = "";

        // Add the new options to the semester dropdown
        data.forEach((semester) => {
          const option = document.createElement("option");
          option.value = semester.id;
          option.text = semester.name;
          semesterDropdown.appendChild(option);
        });
      });
  });
</script>

{% endblock %}
