{% extends 'Home/index.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <legend class="text-center mt-4">Feedback Form</legend>
            <p class="text-muted">* compulsory</p>
            {% comment %} {{ form|crispy }} {% endcomment %}
            {{form.as_p}}
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Submit Feedback</button>
            </div>
        </form>
        <div>
            <a href="{% url 'HomeView' %}">Cancel</button>
        </div>
    </div>

{% endblock content %}



{% comment %} Beforea added average {% endcomment %}
{% extends 'Home/index.html' %} {% block content %}

<h1>Provide Feedback</h1>

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

<script>
  console.log("inside script");
  // Get the faculty dropdown element
  const facultyDropdown = document.querySelector("#id_teacher_name");

  // Get the semester dropdown element
  const semesterDropdown = document.querySelector("#id_semester");

  // Add an event listener to the faculty dropdown
  facultyDropdown.addEventListener("change", function () {
    console.log("inside change fun");
    const facultyId = facultyDropdown.value;

    // Send a GET request to the server to get the semesters for the selected faculty
    fetch(`api/semesters/${facultyId}`)
      .then((response) => response.json())
      .then((data) => {
        // Clear the current options in the semester dropdown
        semesterDropdown.innerHTML = "";

        // Add the new options to the semester dropdown
        data.forEach((semester) => {
          const option = document.createElement("option");
          option.value = semester.id;
          option.text = semester.name;
          semesterDropdown.appendChild(option);
        });
      });
  });
</script>

{% endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
